<div class="navtabs-container">
  <nav mat-tab-nav-bar mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center">
    <a mat-tab-link routerLink="/"
      routerLinkActive #dashboard="routerLinkActive"
      [active]="dashboard.isActive">
      Dashboard
    </a>
    <a mat-tab-link routerLink="/properties"
      routerLinkActive #properties="routerLinkActive"
      [active]="properties.isActive">
      Properties
    </a>
    <a mat-tab-link routerLink="/"
      routerLinkActive #dashboard="routerLinkActive"
      [active]="dashboard.isActive">
      Bookings
    </a>
    <a mat-tab-link routerLink="/"
      routerLinkActive #dashboard="routerLinkActive"
      [active]="dashboard.isActive">
      Expenses
    </a>
  </nav>
</div>